@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::selection{
    color: #fff;
    background-color: #f6840a;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}
.logo{
    text-decoration: none;
    color: #ffae00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
     color: #ffae00;
     text-decoration: none;
     font-size: 1.1em;
     font-weight: 500;
     padding-left: 30px;
     transition: 0.5s;
}
.navigation a:hover{
    color: #db8300;
    transition: 0.5s;
}
section{
    padding: 100px 100px ;
}
.main{
    width: 100% ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/BCG1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgba(1, 1, 1, 1%);
    font-size: 3em;
    font-weight: 600;
    position: relative;
    -webkit-text-stroke: 0.1vw #f6840a;
    text-transform: uppercase;
    white-space:nowrap;
}
.main h2 span::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #f6840a;
    border-right: 2px solid #c86802;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width: 100%;
        -webkit-text-stroke: 0.1vw #ffffff;
    }
}
.main h3{
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px ;
    margin-bottom: 30px ;
}
.main-btn{
    color: #fff;
    background-color: #f6840a;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #c86802;
    transform: scale(1.1);
}
.social-icons a{
    color: #fff;
    font-size: 1.5em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #ffae00;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 20em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #ffae00;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #ffae00;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background: url(images/BCG3.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 12em;
    width: 21em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
    transition: 1s;
}
.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #ffae00;
    transition:0.5s;
}
.more-details:hover{
    color: #c86802;
    transition:0.5s;
}
.footer{
    background-color: #000;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1em;
    font-weight: 600;
}
.footer-title span{
    color: #ffae00;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }
}